/* small devices */

@media screen and (max-width: 600px) {
  /* shared styles */
  .section-title {
    font-size: 20px;
  }
  .section-description {
    font-size: 14px;
    line-height: 24px;
  }
  /* header section */
  header {
    max-width: 335px;
    padding: 5px;
  }

  nav .logo-container img {
    width: 28px;
  }
  nav .logo-container p {
    font-size: 22px;
    flex-shrink: 0;
  }
  .menubar {
    display: none;
  }
  .bars {
    display: block;
  }
  .bars i {
    width: 24px;
  }

  /* banner */
  .banner {
    max-width: 335px;
    padding: 32px 10px 45px;
  }
  .banner-title {
    font-size: 22px;
  }
  .banenr-description {
    font-size: 14px;
    padding: 0px 15px;
  }
  .banner .inputs {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    max-width: 250px;
  }

  /* popular tours */
  .popular-tours {
    max-width: 335px;
    padding: 5px;
    flex-direction: column;
    gap: 30px;
  }
  .popular-tours .tour-content {
    width: 100%;
    text-align: left;
    padding-left: 4px;
  }

  /* destination */
  .destination {
    max-width: 335px;
    gap: 30px;
  }
  .content {
    padding: 0px;
    gap: 18px;
  }

  .desti-img-container {
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 175px);

    grid-template-areas:
      "item1" "item2" "item3" "item4" "item5" "item6"
      "item7";
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7 {
    background-size: cover;
    background-position: center;
  }

  /* why us */

  .whyus {
    max-width: 335px;
    gap: 25px;

    padding: 10px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 290px);

    grid-auto-columns: 1fr;
    gap: 20px;
    grid-auto-flow: column;
    grid-template-areas:
      "card1" "card2"
      "card3";
  }

  .card .section-title {
    margin: 32px 0px 16px;
  }

  /* newsletter */

  /* Newsletter */
  .newsletter {
    max-width: 335px;

    flex-direction: column;
    gap: 20px;
  }
  .newsletter .newsform {
    padding: 20px;
  }

  .newsletter .section-title {
    font-size: 20px;
  }
  .newsletter .section-description {
    margin: 14px 0px 20px;
  }

  .newsletter .line {
    margin-bottom: 20px;
    width: 280px;
  }

  .newsletter .newsletter-img img {
    object-fit: cover;
    min-height: 300px;
    border-radius: 16px;
    width: 100%;
  }

  .newsletter .newsletter-img .sales {
    width: 215px;
    height: 80px;
    right: 8px;
    bottom: 37px;
  }
  .newsletter .newsletter-img .sales p {
    font-size: 15;
    font-weight: 400;
  }
  .newsletter .newsletter-img .sales p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 800;
  }

  /* travelarsay section */

  .travelarsay {
    max-width: 335px;
    padding: 20px;
  }

  .travelarsay .section-title {
    font-size: 26px;
  }
  .travelarsay .section-description {
    max-width: 250px;
    font-size: 15px;
  }
  .travelarsay .peoples-cards {
    gap: 40px;

    flex-direction: column;
  }
  .travelarsay .peoples-cards .card {
    flex-direction: column;
  }
  .travelarsay .peoples-cards .card .card-content {
    text-align: center;
  }

  .travelarsay .peoples-cards .card img {
    width: 80px;
  }

  /* footer */

  footer {
    gap: 16px;
    padding-top: 30px;
    min-height: 300px;
  }

  footer .footer-title img {
    width: 28px;
  }
  footer .footer-title p {
    font-size: 21px;
  }

  footer .section-description {
    max-width: 290px;
  }
  footer .social-links {
    display: inline-flex;
    gap: 20px;
    margin: 10px auto 30px;
  }
  footer .social-links i {
    font-size: 20px;
  }
  footer .line {
    height: 2px;
    background: rgba(19, 19, 24, 0.1);
    width: 335px;
    margin: 5px auto 40px;
  }
  footer > .section-description {
    margin-bottom: 50px;
  }
}
